<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" > 
<suite name="Test Fruit Shop"> 
<test name="Test Fruit Shop"> 
<classes> 
<class name="QABootcamp.TestFruitShop"> 
<methods> 
<include name="cartHaveFourItems"/> 
<include name="noPineapple"/> 
<include name="findBanana"/> 
<include name="addMango"/> 
<include name="itemsInCartIsFive"/> 
</methods> 
</class> 
</classes> 
</test> 
</suite>
